* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.wrapper .images {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
}

.wrapper .images .img-1,
.wrapper .images .img-2 {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper .images .img-1 {
  background-image: url("images/Image01.jpg");
}

.wrapper .images .img-2 {
  width: 50%;
  background-image: url("images/Image02.jpg");
  overflow: hidden;
}

.wrapper .slider {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
}

.wrapper .slider input {
  width: 100%;
  outline: none;
  background: none;
  -webkit-appearance: none;
}

.slider input::-webkit-slider-thumb {
  height: 100vh;
  width: 3px;
  background: none;
  -webkit-appearance: none;
  cursor: col-resize;
}

.slider .drag-line {
  width: 3px;
  height: 100vh;
  position: absolute;
  left: 49.85%;
  pointer-events: none;
}

.slider .drag-line span {
  height: 42px;
  width: 42px;
  border: 3px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.slider .drag-line span::before,
.slider .drag-line span::after {
  position: absolute;
  content: "";
  top: 50%;
  border: 10px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.slider .drag-line span::before {
  left: 40%;
  border-left-color: #fff;
}

.slider .drag-line span::after {
  left: 60%;
  border-top-color: #fff;
}
