* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.wrapper .images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.wrapper .images .img-1 {
  flex: 1;
  background-image: url("images/Image01.jpg");
  background-size: cover;
  background-position: center;
}

.wrapper .images .img-2 {
  flex: 1;
  background-image: url("images/Image02.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 50vw;
  height: 100vh;
  clip-path: inset(0 50% 0 0);
}

.wrapper .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .slider input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: col-resize;
}

.slider .drag-line {
  position: absolute;
  left: 50%;
  width: 3px;
  height: 100vh;
  background: #fff;
  pointer-events: none;
}

.slider .drag-line span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 42px;
  height: 42px;
  border: 3px solid #fff;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
}